@charset "utf-8";

/* --ESTILO PARA PAG DE MANDAR CORREO */

.shape { width: 500px; height: 300px; position: relative; top: 0px; }

.shape:hover { -webkit-animation-name: grow; -webkit-animation-duration: 3s; -webkit-animation-direction: alternate; }

.topBanner { position: absolute; top: 0px; width: 100%; height: 215px; background-color: #0CC; left: 0px; }

.containerShape { width: 100%; alignment-adjust: central; left: 0px; }


/* ANIMACIONES */
@-webkit-keyframes grow {
	from { background-color: #333; }
	to { background-color: #0F9; transform: rotate(10deg); }
}