#tableFiles{
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#tableFiles th {
    color: #3b2b17;
    background:#ffcc33;
    font-size:23px;
    font-weight: 100;
    padding:5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}
#tableFiles th div{
    font-size: 18px;
}

#tableFiles th:first-child {
    border-top-left-radius:3px;
}

#tableFiles th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

#tableFiles tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

#tableFiles tr:hover td {
    background:#ffff66;
    color:#3b2b17;
    border-top: 1px solid #a38f00;
    border-bottom: 1px solid #a38f00;
}

#tableFiles tr:first-child {
    border-top:none;
}

#tableFiles tr:last-child {
    border-bottom:none;
}

#tableFiles tr:nth-child(odd) td {
    background:#EBEBEB;
}

#tableFiles tr:nth-child(odd):hover td {
    background:#ffff66;
    color: #3b2b17;
}

#tableFiles tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

#tableFiles tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

#tableFiles td {
    background:#FFFFFF;
    padding:10px;
    vertical-align:middle;
    font-size:16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

#tableFiles td:last-child {
    border-right: 0px;
}

#tableFiles td:nth-child(2){
    width: 40px;
    text-align: center;
}
