/* MUSE TASKS */

#rightContainer { position: absolute; width: 30%; height: 100%; background-color: rgb(230, 230, 230); top: 0px; right: 0px; overflow-y: scroll; }
.task { width: 100%; left: 0px; position: relative; height: 40px; padding: 5px; cursor: pointer; background-color: white; box-shadow: 0px 1px 2px #888888; }
.task:hover { background-color: rgb(220, 220, 220); }
.taskIcon { position: relative; margin-right: 10px; height: 80%; top: 5%; left: 0px; background-color: gray; border-radius: 50px; border: 2px solid #000; width: 25px; float: left; clear: none; }
.taskIconBajo { background-color: #9999ff; }
.taskIconMedio { background-color: #ffcc66; }
.taskIconAlto { background-color: #ff0000; }
.taskText { position: relative; height: 70%; top: 5%; width: 84%; right: 0px; float: left; clear: none; }