/*TIMELINE*/

.avatar
{
	position: relative;
	left: 0px;
	top:0px;
	background-color: black;
	height: 100%;
	width: auto;
	display: inline-block;
	cursor: pointer;
}

.userName
{
	
}


.date
{
	
}

#timelineContainer
{
	position: relative;
	width: 80%;
	left: 10%;
}

.post 
{
	position: relative;
	width: 80%;
	left: 10%;
	margin-top: 10px;
	height: 90px;
	padding: 10px;
	background-size: 100% 100%;
	background-image: url("img/postBack.png");
}

.postText
{
	position: absolute;
	width: 82%;
	height: 86%;
	top:10%;
	right: 10px;
	display: inline-block;
	margin-left: 10px;
}

.userName
{
	color:rgb(90,90,90);
	font-family: verdana;
	font-weight: bold;
	font-size: 15px;
	position: relative;
	left: 0px;
	top:0px;
}