/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2014, 02:00:59 PM
    Author     : iorX
*/
.upperMisc { position: absolute; width: 100%; height: 20%; top: 0px; left: 0px; background-color: rgb(60, 60, 60); }

.mainText { text-align: justify; width: 40%; height: 80%; top: 20%; position: absolute; left: 10%; }

.mainText2 { text-align: justify; width: 40%; height: 80%; top: 20%; position: absolute; right: 10%; }

.textPadding { position: absolute; width: 90%; height: 80%; top: 2%; left: 5%; font-family: arial; color: rgb(120, 120, 120); font-size: 12px; }

.backBlock { position: absolute; width: 20%; top: 20%; left: 0px; height: 80%; background-color: rgb(250, 250, 250); }

h1 { font-size: 30px; font-family: sans-serif; }

h2 { font-size: 20px; font-family: sans-serif; color: orange; }

.footerMisc { position: absolute; width: 100%; height: 15px; background-color: rgb(80, 80, 80); bottom: 0px; left: 0px; text-align: center; color: silver; padding-top: 5px; }

.imgMisc { width: 100%; left: 0px; height: auto; }

.correoEnviadoContainer { position: absolute; width: 40%; left: 30%; top: 30%; text-align: justify; font-size: 16px; color: gray; }