/* Muse Sign Up */

/*--------------- Contenedor de la palabra Entrar en el Menú superior ----------*/
.containerEntrar { position: absolute; right: 50px; top: 13px; z-index: 3; width: auto; height: auto; border-radius: 5px; font-family: verdana; font-size: 12px; color: orange; cursor: pointer; }

h1:hover { font-size: 25px; font-family: verdana; color: rgb(255, 230, 44); font-style: italic; cursor: pointer; }



/*----------- Recuadro con la form para iniciar sesión------------- */
.containerLogIn { background-color: rgb(68, 68, 68); position: absolute; width: 250px; height: 150px; top: 70px; right: 50px; z-index: 3; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }

.containerRecordarUsuario { width: 100%; position: absolute; margin-top: 10px; height: auto; background-color: black; }

.containerTextRecordarUsuario { position: absolute; top: 0px; float: left; }




/*-------------- Imagen principal de la página -----------------*/
.mainPicture { width: 100%; height: 70%; position: absolute; background-position: center; left: 0px; top: 0px; background-size: 100% 100%; background-color: red; background-image: url("../img/su_back.jpg"); }

.signUpBox { width: 28%; left: 36%; position: absolute; bottom: 10%; border-radius: 20px; background-color: rgb(56, 56, 56); height: 80%; }

.signUpContent { text-align: center; //position: absolute; //width: 90%; //height: 75%; //top: 20%; //left: 5%; }

.signupLogo { position: absolute; width: 50%; height: auto; top: 3%; left: 25%; z-index: 2; opacity: .5; }

.signupLogo:hover { position: absolute; width: 50%; height: auto; top: 3%; left: 25%; z-index: 2; opacity: 1; }

#signup-username { width: 50%; height: 30px; }

.containerContent { width: 100%; height: 30%; left: 0px; top: 70%; position: absolute; background-color: white; }

.contLeft { width: 33%; position: absolute; height: 100%; top: 0px; left: 0px; background-color: rgb(240, 240, 240); text-align: justify; }

.contentThird { position: absolute; width: 80%; left: 10%; height: 90%; top: 5%; text-align: justify; font-size: 14px; font-family: arial; color: rgb(30, 30, 30); }

.contMid { width: 34%; position: absolute; height: 100%; top: 0px; left: 33%; background-color: rgb(220, 220, 220); }

.contRight { width: 33%; position: absolute; height: 100%; top: 0px; left: 67%; background-color: rgb(240, 240, 240); }

.boton2 { height: 25px; color: rgb(255, 211, 111); font-family: verdana; background-color: rgb(157, 79, 0); border-radius: 3px; text-align: center; font-size: 20px; width: 50%; border-top-left-radius: 20px; border-bottom-right-radius: 20px; }

.boton2:hover { height: 25px; color: rgb(255, 211, 111); font-family: verdana; background-color: rgb(187, 109, 30); border-radius: 3px; text-align: center; font-size: 20px; width: 55%; border-top-left-radius: 20px; border-bottom-right-radius: 20px; cursor: pointer; }

.botonFB { height: 25px; color: white; font-family: verdana; background-color: rgb(20, 20, 80); border-radius: 3px; text-align: center; font-size: 10px; width: 50%; margin-top: 10px; padding-top: 10px; }

.botonFB { cursor: pointer; }

.iniciarSesion { position: fixed; width: 12%; right: 3%; height: 15%; top: 5%; background-color: rgb(60, 60, 60); border-radius: 10px; padding: 2%; z-index: 4; }

#log-out { position: absolute; right: 25px; top: 67px; font-size: 17px; z-index: 50; }