#convsContainer { width: 25%; position: absolute; background-color: rgb(230, 230, 230); height: 100%; left: 0px; overflow-y: scroll; position: absolute; min-width: 230px; }

.conversation { position: relative; width: 100%; height: 40px; padding: 5px; padding-left: 2%; padding-right: 2%; border: solid; border-top-width: 1px; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-color: rgb(220, 220, 220); background-color: white; overflow: auto; box-shadow: 0px 1px 2px #888888; overflow: hidden; cursor: pointer; }

.unread { background-color: rgb(240, 240, 240); font-style: italic; color: silver; }

.convAvatar { position: relative; width: 16%; height: 100%; background-color: orange; float: left; clear: none; margin-left: 10px; }

.convPrev { position: relative; width: 76%; height: 50px; float: right; clear: none; margin-right: 5px; font-size: 12px; overflow: hidden; }

#centerContainer { position: absolute; width: 75%; min-width: 400px; left: 25%; background-color: rgb(230, 230, 230); height: 100%; overflow: hidden; }

.noscroll { overflow: hidden; }

#messageContainer { position: absolute; height: 80%; overflow-y: scroll; }

.messageThem, .messageMe { width: 100%; left: 0px; padding-left: 20px; padding-right: 10px; float: left; display: block; box-shadow: 0px 1px 1px #888888; background-color: white; font-size: 12px; padding-top: 3px; padding-bottom: 3px; }

.messageMe { background-color: rgb(250, 250, 255); }

#msgBoxContainer { width: 100%; position: absolute; bottom: 0px; height: 20%; left: 0px; background-color: white; overflow: auto; /* box-shadow: 0px -1px 10px #888888;  */ }

#msgBox { margin-top: 10px; width: 90%; margin-left: 5%; height: 60px; font-family: verdana; border-radius: 5px; background-color: rgb(230, 230, 230); resize: none; }

#msgBox:focus { background-color: white; }

them { font-family: verdana; font-size: .9em; color: rgb(148, 84, 20); }

me { font-family: verdana; font-size: .9em; color: rgb(128, 128, 128); }

#bottomBox { width: 100%; position: absolute; height: 150px; left: 0px; }