#leftContainer { position: absolute; width: 70%; height: 100%; background-color: gray; top: 0px; left: 0px;
  background-image: url("../img/pb2.jpg"); background-repeat: repeat; background-attachment: fixed; }

.projectThumb { position: relative; margin: 3%; width: 27%; padding-left: 5%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%; height: 22%; float: left; clear: none; background-color: rgb(250, 250, 250); cursor: pointer; border-style: solid; border-width: 1px; border-radius: 5px; box-shadow: 0px 3px 5px #808080; }

.textProjectThumb { font-size: 20px; text-align: center; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.test { background-color: red; width: 91%; height: 85%; top: 6%; left: 5%; position: relative; }

#sectionUpper { width: 100%; margin: 0px; background-color: rgb(20, 20, 100); height: 4%; padding-top: 1%; background-image: url("../img/menuBack.png"); background-size: auto 100%; background-repeat: repeat-x; text-align: center; font-size: .8em; color: white; font-family: verdana; position: absolute; }

/* tasks */

#frm-registro input { width: 100%; height: 30px; text-align: left; padding: 8px; }

#frm-registro textarea { width: 100%; padding: 8px; }

#eventos { width: 80%; height: 500px; margin: auto; }

.correos { width: 100%; }

#frm-invitaciones input { width: 86%; }

#tareaFechas input { width: 48%; }

#tareaFechas input[name="fechaFin"] { float: right; }

#tareaFechas input[name="horaFin"] { float: right; }

#tareaOtros select { width: 48%; }

#tareaOtros select[name="responsible"] { float: right; }