/* Muse Text */
.txt1 { color: black; font-family: verdana; font-size: 12px; width: 90%; height: 15px; overflow: hidden; margin-bottom: -20px; }
.txt2 { font-family: verdana; font-style: italic; font-size: 11px; color: silver; line-height: 30px; }