/*MUSE CORE*/


/*-------------- Basic Stuff---------------- */
body { margin: 0px; font-family: verdana; font-size: 12px; }

a, a:visited { font-weight: bold; color: rgb(255, 128, 0); }

a:hover { color: rgb(255, 201, 14); }

textarea { border-radius: 5px; resize: none; width: 80%; height: 60px; width: 100%; }

input[type=text], input[type=password] { border-radius: 5px; border-style: none; border: 1px solid #aaa; text-align: center; width: 100%; height: 30px; text-align: left; padding: 10px; }




/*----------------- Upper Frame -------------*/
#mainContainer { position: absolute; width: 100%; height: 100%; min-width: 800px; min-height: 600px; margin-top: 0px; margin-left: auto; margin-right: auto; text-align: left; background-color: black; }

#upperBar { position: relative; width: 100%; height: 10%; display: block; background-image: url("../img/upperBack.png"); background-size: auto 100%; background-repeat: repeat-x; }

#menu { position: relative; width: 100%; height: 5%; background-color: #121212; display: block; background-image: url("../img/menuBack.png"); background-repeat: repeat-x; background-size: auto 100%; max-height: 50px; }

#refresh { position: relative; width: 100%; height: 82%; background-color: #AAFFBB; display: block; }

.scroller::-webkit-scrollbar-track, #convsContainer::-webkit-scrollbar-track, #messageContainer::-webkit-scrollbar-track, #rightContainer::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 10px; background-color: #F5F5F5; }

.scroller::-webkit-scrollbar, #convsContainer::-webkit-scrollbar, #messageContainer::-webkit-scrollbar, #rightContainer::-webkit-scrollbar { width: 12px; background-color: #F5F5F5; }

.scroller::-webkit-scrollbar-thumb, #convsContainer::-webkit-scrollbar-thumb, #messageContainer::-webkit-scrollbar-thumb, #rightContainer::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); background-color: #555; }

#fullContainer { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; /* overflow-y: scroll;  */ }

.scroller { width: 100%; height: 100%; //position: absolute; top: 0px; left: 0px; margin: 0px; padding: 0px; overflow-y: scroll; }




/*--------Proyectos----------------*/
#proyect { height: 100%; }

div[id|="proyect"] { height: 95%; }

#proyect { height: 100%; }

#proyect-1 { height: 95%; }

#imgLogo { position: absolute; height: 48%; width: auto; top: 26%; left: 2%; }

#proyect { height: 100%; }

#proyect-1 { height: 95% }



/*--------------- User Menu --------------*/
#userBlock { position: absolute; clear: none; margin-right: 20px; height: 44px; width: 29%; bottom: 10px; right: 0px; }

#userPic { background-color: gray; width: 44px; height: 44px; margin-left: 20px; float: left; clear: none; border-radius: 40px; cursor: pointer; position: absolute; left: 330px; bottom: 0px; }

#iconProject, #iconMessage, #iconGroup { width: 15%; height: 20%; background-color: #00FFFF; }

.sectionTitle { position: relative; height: 80%; width: 40%; top: 10%; left: 30px; color: orange; font-family: verdana; font-weight: bold; font-size: 20px; }

#btnProyecto, #btnGpo, #btnMsg { background-size: 100% 100%; margin-left: 5px; width: 112px; height: 44px; position: absolute; bottom: 0px; float: left; cursor: pointer; }

#btnProyecto:hover { background-image: url("../img/btn_pro_hover.png"); }

#btnProyecto { background-image: url("../img/btn_pro.png"); left: 0px; }

#btnMsg:hover { background-image: url("../img/btn_msg_hover.png"); }

#btnMsg { background-image: url("../img/btn_msg.png"); left: 112px; }

#btnGpo:hover { background-image: url("../img/btn_gpo_hover.png"); }

#btnGpo { background-image: url("../img/btn_gpo.png"); left: 224px; }

#footer { width: 100%; height: 3%; display: block; color: white; font-family: verdana; font-size: 13px; text-align: center; display: block; background-image: url("../img/footerBack.png"); background-size: auto 100%; background-repeat: repeat-x; }




/*---------Funciones-----------*/
.enviar { margin-right: 5%; text-align: center; position: relative; background-color: rgb(200, 100, 10); color: gold; font-weight: bold; font-family: verdana; padding: 5px; border-radius: 3px; cursor: pointer; box-shadow: 0px 1px 2px #888888; margin-top: 5px; }

.short { width: 50%; left: 25%; }

.floatRight { float: right; }

.floatLeft { float: left; }

.noMargin { margin: 0; }

.cancelar { margin-right: 5%; float: right; position: relative; background-color: rgb(250, 250, 250); color: gray; font-weight: bold; font-family: verdana; padding: 5px; border-radius: 3px; cursor: pointer; box-shadow: 0px 1px 2px #888888; margin-top: 5px; }

.invitar { position: relative; float: right; z-index: 50; right: 10px; top: 2px; width: 100px; }

.removerCorreo { float: right; position: relative; background-color: rgb(250, 250, 250); color: gray; padding: 8px; border-radius: 3px; cursor: pointer; box-shadow: 0px 1px 2px #888888; }

.cnt { position: absolute; }

.userInput { background-color: rgb(252, 252, 252); border-top-left-radius: 5px; border-top-right-radius: 5px; border-width: 1px; width: 98%; padding-left: 2%; height: 24px; text-align: left; }

.passInput { background-color: rgb(252, 252, 252); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; width: 98%; padding-left: 2%; border-width: 1px; height: 24px; text-align: left; }

.alert { margin: 0; }

jmq { font-family: sans-serif; color: gray; font-size: 20px; }

.hideme { display: none; }

h1 { font-size: 30px; font-family: verdana; color: orange; }

.imahand { cursor: pointer; }