/* ----------Contiene todo -------------*/
.containerTimeline { width: 70%; left: 15%; padding: 10px; position: relative; min-width: 600px; overflow: auto; top: 0px; margin-top: -10px; font-family: verdana; font-size: 12px; }


/*------------ Contiene todo un block de post----------- */
.postBlock { position: relative; width: 100%; background-color: white; border: solid; border-width: 1px; border-color: rgb(240, 240, 240); padding-top: 10px; padding-bottom: 10px; margin-top: 5px; border-radius: 3px; box-shadow: 0px 2px 2px #dedede; }

    .postBlock:hover { border-color: rgb(220, 220, 220); background-color: rgb(250, 250, 250); }

.post { position: relative; width: 100%; overflow: auto; }

.avatar { position: relative; left: 2%; width: 60px; height: 60px; border-radius: 10px; background-color: olive; float: left; clear: none; }

.news { position: relative; width: 78%; margin-left: 20px; float: left; clear: none; }

.interactions { position: relative; width: 78%; margin-left: 20px; float: left; clear: none; }

.commentBox { position: relative; width: 96%; padding-left: 2%; padding-right: 2%; padding-bottom: 2%; margin-top: 10px; overflow: auto; }

.commentAvatar { position: relative; left: 50px; width: 50px; height: 50px; border-radius: 5px; background-color: aqua; float: left; clear: none; }

.commentText { position: relative; width: 81%; margin-left: 55px; float: left; clear: none; text-align: justify; }

a { font-weight: bold; color: orange; }

date { font-style: italic; color: silver; font-size: 11px; }

.newPost>textarea { position: relative; margin-top: 30px; width: 100%; margin-top: 5px; overflow: auto; height: 80px; font-family: verdana; }

.newPost>input[type="submit"] { float: right; margin-bottom: 20px; margin-right: 10px; }

.newPostContainer { width: 96%; height: auto; overflow: auto; padding: 2%; }