/* ALERTS */
/* inspired by Twitter Bootstrap */

.alert2 {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right; 
  clear: right;
}

.alert2-red {
  color: white;
  background-color: #DA4453;
}
.alert2-green {
  color: white;
  background-color: #37BC9B;
}
.alert2-blue {
  color: white;
  background-color: #4A89DC;
}
.alert2-yellow {
  color: #3b2b17;
  background-color: #FFCC33;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.alert2-orange {
  color:white;
  background-color: #E9573F;
}
