<!DOCTYPE html>
<html ng-app="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
		<script src="js/project-controller.js" type="text/javascript"></script>
	</head>
	<body>
		<div ng-controller="projectController">
			<ul ng-model="projects">
				<li ng-repeat="project in projects">
					<span ng-bind="project.name"></span>
				</li>
			</ul>
		</div>
	</body>
</html>